extends ../node_modules/jade-bootstrap/_bootstrap

block body
	+navbar(title, "dropdown_menu")
		+nav_item("/", "active") Home
		+nav_item("/browse?type=private_letters") Browse
		+nav_item("/search") Advanced Search
		+nav_item("/add") Add Document
	
	.container
		center
			.container
				h3 Welcome to #{title}.

			.container
				p #[i Printer of some of the most significant documents in New Zealand history, missionary, explorer and botanist, a free wheeling politician and controversialist – William Colenso was a maverick.]

			.container
				form(class="form-inline" action="/search", method="get")
					input(class="form-control" style="width:100%" type="text", name="searchString" placeholder="Search documents")
					p
					+submit("Search")
