extends ../node_modules/jade-bootstrap/_bootstrap

block body
    +navbar(title, "dropdown_menu")
        +nav_item("/") Home
        +nav_item("/browse?type=private_letters") Browse
        +nav_item("/search") Search

    .container
        pre #{data}