body {
    font-family: "Calibri", "Verdana", "Arial";
}

div.navContainer {
    margin-bottom: 20px;
}

.form-group {
    margin-right: 5px;
}

h1 {
    margin-bottom: 0;
}

/* BROWSING */
p.browse {
    font-size: 10pt;
    margin-bottom: 0;
}

a.browse {
    font-size: 10pt;
}

/* SEARCH RESULTS */
p.searchResult {
    font-size: 10pt;
    margin-bottom: 20px;
}

a.searchResult {
    font-size: 13pt;
    font-weight: bold;
}

/* FILE VIEWING */
p.author {
    font-size: 10pt;
}

div.text {
    margin-top: 30px;
    margin-bottom: 30px;
}